* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1b2a;
}

body * {
  font-family: sans-serif;
  color: #e0e1dd;
}

#container {
  border: 1px solid red;

  width: 100%;
  max-width: 600px;

  margin: 32px auto;
  padding: 8px 32px;
}

/* profile */
#profile {
  border: 1px solid green;

  text-align: center;
  padding: 32px;
}

#profile img {
  border-radius: 50%;
  margin-bottom: 16px;
}

#name {
  margin-bottom: 8px;
}

#name span {
  color: #778da9;
}

#bio {
  font-size: 14px;
}
