* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0d1b2a;
  --url-bg: url(./assets/dark-bg.jpg);
  --color: #e0e1dd;
  --color-two: #778da9;
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --switch-icon: url(./assets/moon.svg);
  --switch-icon-two: url(./assets/sun.svg);
}

.light {
  --bg-color: #e0e1dd;
  --url-bg: url(./assets/light-bg.jpg);
  --color: #0d1b2a;
  --color-two: #a99275;
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --switch-icon: url(./assets/sun.svg);
  --switch-icon-two: url(./assets/moon.svg);
}

body {
  background-color: var(--bg-color);
  height: 100vh;

  animation: bg-color-out 0.4s;
}

.light body {
  animation: bg-color-in 0.4s forwards;
}

body * {
  font-family: sans-serif;
  color: var(--color);
}

#container {
  width: 100%;
  max-width: 600px;

  margin: 32px auto;
  padding: 0px 32px;
}

/* switch */
#switch {
  display: flex;
  justify-content: right;
}

#switch button {
  display: flex;
  padding: 24px;

  background: var(--surface-color) var(--switch-icon) no-repeat center;
  border: none;
  border-radius: 50%;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 1s;
}

#switch button:hover {
  cursor: pointer;
  background: var(--surface-color-hover) var(--switch-icon-two) no-repeat center;
}

/* profile */
#profile {
  text-align: center;
  padding: 32px;
}

#profile img {
  width: 112px;

  border: 1px solid var(--color-two);
  border-radius: 50%;
  margin-bottom: 16px;
}

#name {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 8px;
}

#name span {
  color: var(--color-two);
}

#bio {
  font-size: 14px;
  color: var(--color-two);
}

/* linking */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

ul li a {
  display: flex;
  justify-content: center;
  padding: 24px;

  background-color: var(--surface-color);
  border-radius: 16px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: bold;

  transition: background-color 0.2s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
}

/* social linking */
#social-links {
  display: flex;
  justify-content: center;
  padding: 16px;

  font-size: 32px;
}

#social-links a {
  display: flex;
  padding: 12px;
  border-radius: 50%;

  transition-property: background-color, backdrop-filter;
  transition-duration: 1s;
}

#social-links a:hover {
  background-color: var(--surface-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* media queries */
@media (min-width: 800px) {
  body {
    background: var(--url-bg) no-repeat top center/cover;
  }
}

/* animation */
@keyframes bg-color-in {
  from {
    background-color: #0d1b2a;
  }
  to {
    background-color: #e0e1dd;
  }
}

@keyframes bg-color-out {
  from {
    background-color: #e0e1dd;
  }
  to {
    background-color: #0d1b2a;
  }
}
